meta:
  version: 3
  flow: Chip
  substituting_steps:

    # Disable KLayout DRC
    #KLayout.DRC: null
    #Checker.KLayoutDRC: null

    # Disable KLayout antenna check
    #KLayout.Antenna: null
    #Checker.KLayoutAntenna: null

    # Disable KLayout density check
    #KLayout.Density: null
    #Checker.KLayoutDensity: null

    # Save time during development
    # Enable for sign-off
    #OpenROAD.IRDropReport: null
    #Magic.DRC: null
    #Checker.MagicDRC: null
    #KLayout.XOR: null
    #Netgen.LVS: null
    #Checker.LVS: null

DESIGN_NAME: chip_top
VERILOG_FILES:
- dir::../src/chip_top.sv
- dir::../src/chip_core.sv

# Enable plugin for better SystemVerilog support
# USE_SLANG: True
# SLANG_ARGUMENTS: ['--keep-hierarchy']

# Slightly smaller file sizes
PRIMARY_GDSII_STREAMOUT_TOOL: klayout

# SDC files
PNR_SDC_FILE: dir::chip_top.sdc
SIGNOFF_SDC_FILE: dir::chip_top.sdc
FALLBACK_SDC: dir::chip_top.sdc

# Power / ground nets
VDD_NETS: ["VDD"]
GND_NETS: ["VSS"]
VERILOG_POWER_DEFINE: "USE_POWER_PINS"

# We need to add gf180mcu_fd_io__bi_24t
# due to the unused Y output for output only pads
IGNORE_DISCONNECTED_MODULES:
- gf180mcu_fd_io__bi_24t
- gf180mcu_ws_ip__credits
- gf180mcu_ws_ip__id
- gf180mcu_ws_ip__iicqc
- gf180mcu_ws_ip__jku
- gf180mcu_ws_ip__logo
- gf180mcu_ws_ip__names

# Clock
CLOCK_PORT: clk_PAD
CLOCK_NET: clk_pad/Y
CLOCK_PERIOD: 125 # in ns = ~8MHz

# Fix hold violations
PL_RESIZER_HOLD_SLACK_MARGIN: 0.35
GRT_RESIZER_HOLD_SLACK_MARGIN: 0.3

# Increase for more logic
# on your die
PL_TARGET_DENSITY_PCT: 25
GRT_ALLOW_CONGESTION: true

# Fix antenna violations after DRT
DRT_ANTENNA_REPAIR_ITERS: 10
DRT_ANTENNA_MARGIN: 10 # %

# PDN - Straps
PDN_VWIDTH: 5
PDN_HWIDTH: 5
PDN_VSPACING: 1
PDN_HSPACING: 1
PDN_VPITCH: 75
PDN_HPITCH: 75

# PDN - Core ring
PDN_CORE_RING: True
# Maximum metal width without slotting: 30um
PDN_CORE_RING_VWIDTH: 25
PDN_CORE_RING_HWIDTH: 25
PDN_CORE_RING_CONNECT_TO_PADS: True
PDN_ENABLE_PINS: False
PDN_CORE_VERTICAL_LAYER: Metal2
PDN_CORE_HORIZONTAL_LAYER: Metal3

# Due to OpenROAD bug
# https://github.com/The-OpenROAD-Project/OpenROAD/issues/8229
#PL_TIME_DRIVEN: False
#PL_ROUTABILITY_DRIVEN: False

# Do not error on magic DRC violations
# Note: Passing magic DRC is not required for the submission.
# However, it is recommended to fix or carefully review all violations.
# ERROR_ON_MAGIC_DRC: False

# Prevent false positive DRC errors in I/O cells
MAGIC_GDS_FLATGLOB:
# For contacts
- "*_CDNS_*"
# Foundry provided SRAMs
- "*$$*"
- "M1_N*"
- "M1_P*"
- "M2_M1*"
- "M3_M2*"
- "nmos_5p0*"
- "nmos_1p2*"
- "pmos_5p0*"
- "pmos_1p2*"
- "via1_*"
- "ypass_gate*"
- "G_ring_*"
# These additional cells must be flattened to get rid of 3.3V devices
# (DUALGATE drawn into high-level cells)
- "dcap_103*"
- "din_*"
- "mux821_*"
- "rdummy_*"
- "pmoscap_*"
- "xdec_*"
- "ypredec*"
- "xpredec*"
- "prexdec_*"
- "xdec8_*"
- "xdec16_*"
- "xdec32_*"
- "sa_*"

# Since we cannot meet the minimum density limit on Metal2,
# ignore active metal on previous and subsequent layers
# (DM.5_DM.7 and DM.4_DM.6). Dummy metal is moved to active
# metal during the precheck.
KLAYOUT_FILLER_OPTIONS:
  Metal2_ignore_active: true

# Because we have multiple power pads for one power domain
MAGIC_EXT_UNIQUE: notopports

MACROS:
  tbs_core_board:
    gds:
      - dir::../macros/tbs_core_board/final/gds/tbs_core_board.gds
    lef:
      - dir::../macros/tbs_core_board/final/lef/tbs_core_board.lef
    pnl:
      - dir::../macros/tbs_core_board/final/pnl/tbs_core_board.pnl.v
    nl:
      - dir::../macros/tbs_core_board/final/nl/tbs_core_board.nl.v
    spef:
      min_*: dir::../macros/tbs_core_board/final/spef/min/tbs_core_board.min.spef
      nom_*: dir::../macros/tbs_core_board/final/spef/nom/tbs_core_board.nom.spef
      max_*: dir::../macros/tbs_core_board/final/spef/max/tbs_core_board.max.spef
    lib:
      # 5V
      # max_ff_n40C_5v50: dir::../macros/tbs_core_board/final/lib/max_ff_n40C_5v50/tbs_core_board__max_ff_n40C_5v50.lib
      # max_ss_125C_4v50: dir::../macros/tbs_core_board/final/lib/max_ss_125C_4v50/tbs_core_board__max_ss_125C_4v50.lib
      # max_tt_025C_5v00: dir::../macros/tbs_core_board/final/lib/max_tt_025C_5v00/tbs_core_board__max_tt_025C_5v00.lib
      # min_ff_n40C_5v50: dir::../macros/tbs_core_board/final/lib/min_ff_n40C_5v50/tbs_core_board__min_ff_n40C_5v50.lib
      # min_ss_125C_4v50: dir::../macros/tbs_core_board/final/lib/min_ss_125C_4v50/tbs_core_board__min_ss_125C_4v50.lib
      # min_tt_025C_5v00: dir::../macros/tbs_core_board/final/lib/min_tt_025C_5v00/tbs_core_board__min_tt_025C_5v00.lib
      # nom_ff_n40C_5v50: dir::../macros/tbs_core_board/final/lib/nom_ff_n40C_5v50/tbs_core_board__nom_ff_n40C_5v50.lib
      # nom_ss_125C_4v50: dir::../macros/tbs_core_board/final/lib/nom_ss_125C_4v50/tbs_core_board__nom_ss_125C_4v50.lib
      # nom_tt_025C_5v00: dir::../macros/tbs_core_board/final/lib/nom_tt_025C_5v00/tbs_core_board__nom_tt_025C_5v00.lib
      
      # 3.3V
      max_ff_125C_3v60: dir::../macros/tbs_core_board/final/lib/max_ff_125C_3v60/tbs_core_board__max_ff_125C_3v60.lib
      max_ff_n40C_3v60: dir::../macros/tbs_core_board/final/lib/max_ff_n40C_3v60/tbs_core_board__max_ff_n40C_3v60.lib
      max_ss_125C_3v00: dir::../macros/tbs_core_board/final/lib/max_ss_125C_3v00/tbs_core_board__max_ss_125C_3v00.lib
      max_ss_n40C_3v00: dir::../macros/tbs_core_board/final/lib/max_ss_n40C_3v00/tbs_core_board__max_ss_n40C_3v00.lib
      max_tt_025C_3v30: dir::../macros/tbs_core_board/final/lib/max_tt_025C_3v30/tbs_core_board__max_tt_025C_3v30.lib
      min_ff_125C_3v60: dir::../macros/tbs_core_board/final/lib/min_ff_125C_3v60/tbs_core_board__min_ff_125C_3v60.lib
      min_ff_n40C_3v60: dir::../macros/tbs_core_board/final/lib/min_ff_n40C_3v60/tbs_core_board__min_ff_n40C_3v60.lib
      min_ss_125C_3v00: dir::../macros/tbs_core_board/final/lib/min_ss_125C_3v00/tbs_core_board__min_ss_125C_3v00.lib
      min_ss_n40C_3v00: dir::../macros/tbs_core_board/final/lib/min_ss_n40C_3v00/tbs_core_board__min_ss_n40C_3v00.lib
      min_tt_025C_3v30: dir::../macros/tbs_core_board/final/lib/min_tt_025C_3v30/tbs_core_board__min_tt_025C_3v30.lib
      nom_ff_125C_3v60: dir::../macros/tbs_core_board/final/lib/nom_ff_125C_3v60/tbs_core_board__nom_ff_125C_3v60.lib
      nom_ff_n40C_3v60: dir::../macros/tbs_core_board/final/lib/nom_ff_n40C_3v60/tbs_core_board__nom_ff_n40C_3v60.lib
      nom_ss_125C_3v00: dir::../macros/tbs_core_board/final/lib/nom_ss_125C_3v00/tbs_core_board__nom_ss_125C_3v00.lib
      nom_ss_n40C_3v00: dir::../macros/tbs_core_board/final/lib/nom_ss_n40C_3v00/tbs_core_board__nom_ss_n40C_3v00.lib
      nom_tt_025C_3v30: dir::../macros/tbs_core_board/final/lib/nom_tt_025C_3v30/tbs_core_board__nom_tt_025C_3v30.lib
    instances:
      i_chip_core.tbs_core_board:
        location: ["expr::442 + 24 + 200", "expr::442 + 19 + 150"]
        orientation: N
  
  gf180mcu_ws_ip__credits:
    gds:
      - dir::../ip/gf180mcu_ws_ip__credits/gds/gf180mcu_ws_ip__credits.gds
    lef:
      - dir::../ip/gf180mcu_ws_ip__credits/lef/gf180mcu_ws_ip__credits.lef
    vh:
      - dir::../ip/gf180mcu_ws_ip__credits/vh/gf180mcu_ws_ip__credits.v
    lib:
      "*":
        - dir::../ip/gf180mcu_ws_ip__credits/lib/gf180mcu_ws_ip__credits.lib
    instances:
      credits_logo:
        location: ["expr::442 + 24 + 1384", "expr::442 + 19 + 10"]
        orientation: N
        
  gf180mcu_ws_ip__id:
    gds:
      - dir::../ip/gf180mcu_ws_ip__id/gds/gf180mcu_ws_ip__id.gds
    lef:
      - dir::../ip/gf180mcu_ws_ip__id/lef/gf180mcu_ws_ip__id.lef
    vh:
      - dir::../ip/gf180mcu_ws_ip__id/vh/gf180mcu_ws_ip__id.v
    lib:
      "*":
        - dir::../ip/gf180mcu_ws_ip__id/lib/gf180mcu_ws_ip__id.lib
    instances:
      chip_id:
        location: [26, 26]
        orientation: N
  
  gf180mcu_ws_ip__iicqc:
    gds:
      - dir::../ip/gf180mcu_ws_ip__iicqc/gds/gf180mcu_ws_ip__iicqc.gds
    lef:
      - dir::../ip/gf180mcu_ws_ip__iicqc/lef/gf180mcu_ws_ip__iicqc.lef
    vh:
      - dir::../ip/gf180mcu_ws_ip__iicqc/vh/gf180mcu_ws_ip__iicqc.v
    lib:
      "*":
        - dir::../ip/gf180mcu_ws_ip__iicqc/lib/gf180mcu_ws_ip__iicqc.lib
    instances:
      iicqc_logo:
        location: ["expr::442 + 24 + 1150", "expr::442 + 19 + 1490"]
        orientation: N

  gf180mcu_ws_ip__jku:
    gds:
      - dir::../ip/gf180mcu_ws_ip__jku/gds/gf180mcu_ws_ip__jku.gds
    lef:
      - dir::../ip/gf180mcu_ws_ip__jku/lef/gf180mcu_ws_ip__jku.lef
    vh:
      - dir::../ip/gf180mcu_ws_ip__jku/vh/gf180mcu_ws_ip__jku.v
    lib:
      "*":
        - dir::../ip/gf180mcu_ws_ip__jku/lib/gf180mcu_ws_ip__jku.lib
    instances:
      jku_logo:
        location: ["expr::$DIE_AREA[0] + 26", "expr::$DIE_AREA[3] + -169.75"]
        orientation: N

  gf180mcu_ws_ip__logo:
    gds:
      - dir::../ip/gf180mcu_ws_ip__logo/gds/gf180mcu_ws_ip__logo.gds
    lef:
      - dir::../ip/gf180mcu_ws_ip__logo/lef/gf180mcu_ws_ip__logo.lef
    vh:
      - dir::../ip/gf180mcu_ws_ip__logo/vh/gf180mcu_ws_ip__logo.v
    lib:
      "*":
        - dir::../ip/gf180mcu_ws_ip__logo/lib/gf180mcu_ws_ip__logo.lib
    instances:
      wafer_space_logo:
        location: ["expr::$DIE_AREA[2] + -169.25", "expr::$DIE_AREA[3] + -169.25"]
        orientation: N

  gf180mcu_ws_ip__names:
    gds:
      - dir::../ip/gf180mcu_ws_ip__names/gds/gf180mcu_ws_ip__names.gds
    lef:
      - dir::../ip/gf180mcu_ws_ip__names/lef/gf180mcu_ws_ip__names.lef
    vh:
      - dir::../ip/gf180mcu_ws_ip__names/vh/gf180mcu_ws_ip__names.v
    lib:
      "*":
        - dir::../ip/gf180mcu_ws_ip__names/lib/gf180mcu_ws_ip__names.lib
    instances:
      names_logo:
        location: ["expr::442 + 24 + 20", "expr::442 + 19 + 1400"]
        orientation: N
        
# This is an alternative method compared to
# specifying the power connections in the RTL
# PDN_MACRO_CONNECTIONS:
# - "i_chip_core.sram_0 VDD VSS VDD VSS"

# Halo size around macros while cutting rows.
# Workaround for: https://github.com/The-OpenROAD-Project/OpenROAD/issues/8868
FP_MACRO_HORIZONTAL_HALO: 10
FP_MACRO_VERTICAL_HALO: 10
FP_PDN_HORIZONTAL_HALO: 5
FP_PDN_VERTICAL_HALO: 5

PDN_CFG: dir::pdn_cfg.tcl

# Make sure netgen doesn't create 'no_connect' nets
# Not needed since netgen 1.5.303
LVS_FLATTEN_CELLS:
- gf180mcu_ws_ip__credits
- gf180mcu_ws_ip__id
- gf180mcu_ws_ip__iicqc
- gf180mcu_ws_ip__jku
- gf180mcu_ws_ip__logo
- gf180mcu_ws_ip__names

# gf180mcu_ws_ip__id/logo has no ports and components
# therefore make it an abstract cell in the layout
MAGIC_EXT_ABSTRACT_CELLS:
- gf180mcu_ws_ip__credits
- gf180mcu_ws_ip__id
- gf180mcu_ws_ip__iicqc
- gf180mcu_ws_ip__jku
- gf180mcu_ws_ip__logo
- gf180mcu_ws_ip__names
