meta:
  version: 3
  flow: Classic
  substituting_steps:
    KLayout.DRC: null
    Checker.KLayoutDRC: null
    
    # Fix Antenna violations by inserting them manually
    "+OpenROAD.DetailedRouting": "Odb.InsertECODiodes"
    "+Odb.InsertECODiodes": "OpenROAD.DetailedRouting"

INSERT_ECO_DIODES:
  - target: fanout2045/I
  
DESIGN_NAME: tbs_core_board
VERILOG_FILES: ["dir::../verilog/rtl/tbs_core_board.v"]

# Enable plugin for better SystemVerilog support
# USE_SLANG: True

# Slightly smaller file sizes
# PRIMARY_GDSII_STREAMOUT_TOOL: klayout

# Layout / Floorplan Rules
DIE_AREA: [0, 0, 2700, 1300]
PL_TARGET_DENSITY_PCT: 25
GRT_ALLOW_CONGESTION: true
RUN_MAGIC_DRC: true
RUN_CTS: true
# Valid values are AREA 0-3 and DELAY 0-4
# DELAY 4 = fastest, but largest area
# AREA 3 = slowest, but smallest area
SYNTH_STRATEGY: DELAY 4
MAX_FANOUT_CONSTRAINT: 6
RT_MAX_LAYER: Metal4
FP_PIN_ORDER_CFG: dir::pin_order.cfg
FP_PDN_MULTILAYER: false
FP_SIZING: absolute

# SDC files
PNR_SDC_FILE: dir::impl.sdc
SIGNOFF_SDC_FILE: dir::signoff.sdc

# Power / ground nets
VDD_NETS: ["VDD"]
GND_NETS: ["VSS"]
VERILOG_POWER_DEFINE: "USE_POWER_PINS"

# Clock
CLOCK_PORT: clock_i
CLOCK_NET: clock_i
CLOCK_PERIOD: 125 # in ns = ~8MHz

# Define Standard Cells
# gf180mcu_fd_sc_mcu7t5v0: smaller area, lower dynamic power, slower.
# gf180mcu_fd_sc_mcu9t5v0: bigger area, higher dynamic power, faster.
STD_CELL_LIBRARY: gf180mcu_fd_sc_mcu9t5v0

# Technology LIBs
LIB:
  "*_tt_025C_3v30":
    - pdk_dir::libs.ref/gf180mcu_fd_sc_mcu9t5v0/lib/gf180mcu_fd_sc_mcu9t5v0__tt_025C_3v30.lib
    - pdk_dir::libs.ref/gf180mcu_fd_io/lib/gf180mcu_fd_io__tt_025C_3v30.lib
    - pdk_dir::libs.ref/gf180mcu_fd_io/lib/gf180mcu_ws_io__tt_025C_5v00.lib

  "*_ss_n40C_3v00":
    - pdk_dir::libs.ref/gf180mcu_fd_sc_mcu9t5v0/lib/gf180mcu_fd_sc_mcu9t5v0__ss_n40C_3v00.lib
    - pdk_dir::libs.ref/gf180mcu_fd_io/lib/gf180mcu_fd_io__ss_125C_2v97.lib
    - pdk_dir::libs.ref/gf180mcu_fd_io/lib/gf180mcu_ws_io__ss_125C_4v50.lib

  "*_ss_125C_3v00":
    - pdk_dir::libs.ref/gf180mcu_fd_sc_mcu9t5v0/lib/gf180mcu_fd_sc_mcu9t5v0__ss_125C_3v00.lib
    - pdk_dir::libs.ref/gf180mcu_fd_io/lib/gf180mcu_fd_io__ss_125C_2v97.lib
    - pdk_dir::libs.ref/gf180mcu_fd_io/lib/gf180mcu_ws_io__ss_125C_4v50.lib

  "*_ff_n40C_3v60":
    - pdk_dir::libs.ref/gf180mcu_fd_sc_mcu9t5v0/lib/gf180mcu_fd_sc_mcu9t5v0__ff_n40C_3v60.lib
    - pdk_dir::libs.ref/gf180mcu_fd_io/lib/gf180mcu_fd_io__ff_n40C_3v63.lib
    - pdk_dir::libs.ref/gf180mcu_fd_io/lib/gf180mcu_ws_io__ff_n40C_5v50.lib

  "*_ff_125C_3v60":
    - pdk_dir::libs.ref/gf180mcu_fd_sc_mcu9t5v0/lib/gf180mcu_fd_sc_mcu9t5v0__ff_125C_3v60.lib
    - pdk_dir::libs.ref/gf180mcu_fd_io/lib/gf180mcu_fd_io__ff_125C_3v63.lib
    - pdk_dir::libs.ref/gf180mcu_fd_io/lib/gf180mcu_ws_io__ff_n40C_5v50.lib

# Corners
STA_CORNERS:
  - nom_tt_025C_3v30
  - nom_ss_n40C_3v00
  - nom_ss_125C_3v00
  - nom_ff_n40C_3v60
  - nom_ff_125C_3v60
  - min_tt_025C_3v30
  - min_ss_n40C_3v00
  - min_ss_125C_3v00
  - min_ff_n40C_3v60
  - min_ff_125C_3v60
  - max_tt_025C_3v30
  - max_ss_n40C_3v00
  - max_ss_125C_3v00
  - max_ff_n40C_3v60
  - max_ff_125C_3v60

DEFAULT_CORNER: nom_tt_025C_3v30

# Fix setup violations
PL_RESIZER_SETUP_SLACK_MARGIN: 0.25
GRT_RESIZER_SETUP_SLACK_MARGIN: 0.25

# Fix hold violations
GRT_RESIZER_HOLD_SLACK_MARGIN: 0.1
PL_RESIZER_HOLD_SLACK_MARGIN: 0.1
PL_RESIZER_HOLD_MAX_BUFFER_PCT: 100